<div class="container mt-5">
    <h2>{{ header }}</h2>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
            <label for="">Id</label>
            <input type="text" class="form-control" [ngModel]="employee.id" name="id">

        </div>
        <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control" [ngModel]="employee.name" ngModel name="Name">

        </div>
        <div class="form-group">
            <label for="">Email</label>
            <input type="text" class="form-control" [ngModel]="employee.email" ngModel name="email">

        </div>
        <div class="form-group">
            <label for="">Phone</label>
            <input type="text" class="form-control" [ngModel]="employee.phone" ngModel name="Phone">

        </div>
       <div class="form-group">
           <button type="submit" class="btn btn primary">Save</button>
       </div>
    </form>
</div>